.cell {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  color: white;
  width: 20px;  
}

.snake {
  border: 1px solid black;
}

#grid {
 border: 1px solid black; 
 display: inline-block;
}